
.App {
  position: relative;
  margin: auto;
  font-family: "DecorFont", sans-serif;
  /* background-color: #884b62; */
  background-color: #fff;
  color: #b90c0c;
  overflow: hidden;
}

.main-picture {
  position: relative;
  height: auto;
  /* height: 530px; */
  /* background-color: #6b1f3c; */
  &::before {
    position: absolute;
    content: "";
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
  }
}

.picture-hidden {
  opacity: 0;
}

.picture-visible {
  opacity: 1;
  transition: opacity 3s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.logo {
  width: 100%;
  
  display: block;
  /* position: absolute; */
}

.flower {
  position: absolute;
}

.first {
  width: 100%;
  top: 0px;
  left: 0px;
  scale: 2;
  border-bottom: 2px solid #576155;
  /* border-radius: 50%; */
  /* opacity: 0; */
  transition: scale 4s, border-radius 3s, opacity 3s;
}

.two {
  width: 120px;
  top: -2px;
  right: -10px;
  /* transform: rotate(190deg); */
  scale: 1;
  /* border-radius: 50%; */
  opacity: 0;
  transition: scale 4s, border-radius 3s, opacity 7s;
  border-top-left-radius: 10%;
}

.three {
  width: 140px;
  bottom: -10px;
  left: 0px;
  transform: rotate(190deg);
}

.fourth {
  bottom: -250px;
  transform: rotate(50deg);
  left: -160px;
}

.scaled {
  scale: 1;
  border-radius: 0;
  opacity: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  padding: 20px;
  color: #b90c0c;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  opacity: 0;
}

.visible {
  opacity: 1 !important;
  transition: opacity 4s;
}

.guest-name {
  font-weight: 500;
}

.bride {
  margin-bottom: 90px;
  font-size: 38px;
  color: #ff0000;
  font-family: "DecorFont", sans-serif;
}

.taras {
  position: absolute;
  top: 115px;
  left: 20px;
}

.and {
  position: absolute;
  top: 110px;
  left: 105px;
}

.marta {
  position: absolute;
  top: 130px;
  right: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calendar {
  width: 200px;
  margin: 0 auto 35px;
  opacity: 0;
}

.calendar-title {
  position: relative;
  margin: 20px auto 15px;
  text-align: center;
  font-size: 26px;
  &::after {
    content: "";
    position: absolute;
    top: -95px;
    left: -70px;
    width: 50px;
    height: 50px;  
    border-radius: 50%;  
    background: url("./images/butterfly1.png") no-repeat center / contain;
    z-index: 2;
  }
}

.move {
  &::after {
    z-index: -1;
    top: -28px;
    left: 22px;
    transition: top 5s cubic-bezier(.13,.72,1,1), left 5s cubic-bezier(.13,.72,1,1), z-index 5s cubic-bezier(.13,.72,1,1);
  }
}

.wedding-day {
  height: 30px;
  background-color: transparent;
  border: 1px solid transparent;
  overflow: visible !important;
}

.calendar abbr[title] {
  text-decoration: none !important;
  /* font-weight: 700; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.react-calendar__tile--active {
  position: relative;
}

.react-calendar__tile--active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 38px;
  height: 38px;
  /* background:  url("./images/heart.svg") center  no-repeat ; */
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

.timing {
  position: relative;
  margin: 0 auto 0;
  padding: 50px 0 50px;
  text-align: center;
  font-size: 18px;
}

.timing-title,
.dress-title {
  margin: 0 auto 15px;
  text-align: center;
  font-size: 28px;
  opacity: 0;
  color: #ff0000;
}

.timing .time {
  font-size: 22px;
}

.timing-item {
  padding-bottom: 30px;
  opacity: 0;
}

.timing button {
  margin-top: 10px;
  padding: 0 15px;
  background-color: #fff;
  /* border: 1px solid #425a3d; */
  border: 1px solid #b90c0c;
  cursor: pointer;
}

.timing button a {
  font-family: "DecorFont", sans-serif;
  text-decoration: none;
  color: #b90c0c;
}

.dress-text {
  margin: 0px 40px 45px;
  text-align: center;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: black;
  &::before {
    position: absolute;
    content: "";
    background: url("./images/letter.png") center/cover no-repeat;
    filter: blur(20px);
    transform: scale(1.2);
    inset: 0;
    z-index: 1;
  } 
}

.img-visible {
  width: 100%;
  z-index: 2;
  opacity: 1;
  scale: 1;
  animation: pulse 2s infinite;
}

.img-modified {
  width: 100%;
  z-index: 2;
  opacity: 0;
  scale: 3;
  transition: opacity 3s, scale 3s;
}

.modal-hide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: black;

  &::before {
    position: absolute;
    content: "";
    background: url("./images/letter.png") center/cover no-repeat;
    filter: blur(20px);
    transform: scale(1.2);
    inset: 0;
    z-index: 1;
  } 

}

.wedding {
  width: 100%;
}

.wed-style {
  width: 50%;
  margin: 20px auto 0;
  opacity: 0;
}

.rombs {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 30px;
  height: 90px;
  background-image: url("./images/romb.png"); 
  background-repeat: repeat-y;
  background-size: 30px;
  opacity: 0;
}

.rombs-two {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 30px;
  height: 90px;
  background-image: url("./images/romb.png"); 
  background-repeat: repeat-y;
  background-size: 30px;
}